/* Home.css */
.home {
  background-color: #ffffff;
  padding: 10px; /* Reduced padding */
  font-family: 'Arial', sans-serif;
  max-width: 1200px; /* Increased maximum width to accommodate more columns */
  margin: 0 auto;
}

.welcome-message {
  color: #333;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
}

.products-heading {
  color: #333;
  font-size: 1.5em; /* Smaller font size */
  text-align: center;
  margin-bottom: 15px; /* Reduced margin */
}

.userName {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
  font-size: 12px;
}

.userComment {
  color: #666;
  font-size: 0.9em; /* Smaller font for the comment */
}


.product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Set to 6 equal columns */
  gap: 5px; 
  justify-items: center; /* Center products within the grid */
}

.product-card-container {
  background-color: white;
  border-radius: 6px; /* Slightly smaller rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Softer, smaller shadow */
  overflow: hidden;
  transition: transform 0.2s ease;
  max-width: 200px; /* Adjusted card size to fit 6 columns */

}

.product-card-container:hover {
  transform: translateY(-3px); /* Subtle hover effect */
}

.product-feedback {
  background-color: #fafafa;
  padding: 8px; 
  border-top: 1px solid #eee;
}

.product-feedback h3 {
  color: #333;
  font-size: 12px; /* Smaller font size */
  margin-bottom: 8px; /* Reduced margin */
}

.product-feedback ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-feedback li {
  margin-bottom: 5px; 
}

.star {
  font-size: 22px;
  color: #ffd700; 
}

.loading,
.error {
  text-align: center;
  font-size: 1em; 
  color: #333;
}

.error {
  color: red;
}

.date {
  font-size: 12px;
  color: #95a5a6; 
  text-align: left; 
  margin-top: 5px;
  /* font-style: italic;  */
  white-space: nowrap; 
}


.date:hover {
  color: #2c3e50;
  cursor: pointer; 
}

.custom-hr {
  border: none; 
  height: 1px;
  background-color: #ecf0f1; 
  /* margin: 20px 0;  */
  width: 100%;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}


.custom-hr.dotted {
  border-top: 1px dotted #ecf0f1;
}


.custom-hr.gradient {
  height: 3px;
  background: linear-gradient(to right, #3498db, #2c3e50);
}

