
.modal-overlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; 
  max-height: 80vh;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #bb3415;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal-header h3 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 7px;
  cursor: pointer;
  max-width: 25px;
}

.modal-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto; 
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  max-width: 80%;
}

.message.user {
  background-color: #bb3415;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

.loading {
  text-align: center;
  font-style: italic;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0 0 10px 10px;
}

.input-area input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-area button {
  padding: 8px 15px;
  background-color: #bb3415;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  max-width: 60px;
}

.input-area button:hover {
  background-color: #e74c3c;
}

/* Animations for modal */
.message-modal-enter {
  opacity: 0;
  transform: translateY(20px);
}

.message-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.message-modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.message-modal-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

.sender-label {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  font-size: 12px;

}
