.product-card {
  background-color: white;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 180px;
  margin: 10px auto;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px); 
}

.picture-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.product-image {
  width: 200px;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.product-card:hover .product-image {
  transform: scale(1.05); 
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #aaa;
  font-size: 1em;
  background-color: #e0e0e0;
}

.product-info {
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-height: 260px;
  max-height: 260px; /* Restricts height to 260px */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Adds '...' for overflowing text */
  word-wrap: break-word; /* Ensures long words break appropriately */
}

.product-info .product-title,
.product-info .product-description {
  overflow: hidden; /* Hides text that overflows */
  text-overflow: ellipsis; /* Adds '...' for overflowing text */
}


.product-name {
  font-size: 1em;
  color: #333;
  margin-bottom: 4px;
  line-height: 24px;
}

.product-description {
  font-size: 0.8em;
  color: #666;
  margin: 5px 0;
  flex-grow: 1;
  line-height: 18px;
}

.product-price {
  font-size: 1.1em;
  color: #ff5722;
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #ff5722;
  color: white;
  border: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: auto; 
  width: 200px;
  margin: 0; 
  border-radius: 0;
}

.add-to-cart-button:hover {
  background-color: #e64a19;
}

.add-to-cart-button:focus {
  outline: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-card {
    max-width: 150px;
  }

  .product-name {
    font-size: 1em;
  }

  .product-description {
    font-size: 0.8em;
  }

  .add-to-cart-button {
    padding: 6px 10px;
    font-size: 0.8em;
  }
}
